.idea
node_modules
jspm_packages
npm-debug.*
link-checker-results.txt
app/**/*.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp
/.idea/
.editorconfig
.gitignore
.travis.yml
CHANGELOG.md
LICENSE
README.md
background.jpg
e2e/
favicon.ico
index.html
jquery-3.1.1.js
karma-test-shim.js
karma.conf.js
package.json
protractor.config.js
styles.css
systemjs.config.extras.js
systemjs.config.js
tsconfig.json
tslint.json
!/package.json
!/index.html
!/styles.css
!/tsconfig.json
!/karma.conf.js
!/karma-test-shim.js
!/jquery-3.1.1.js
!/systemjs.config.js
!/systemjs.config.extras.js
!/favicon.ico
!/e2e/
!/.editorconfig
!/tslint.json
!/.travis.yml
!/background.jpg
!/README.md
!/LICENSE
!/.gitignore
!/protractor.config.js
!/CHANGELOG.md
