<nav class="navbar navbar-inverse navbar-static-top-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">SOE Assistant</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/signatures" routerLinkActive="active">Signatures</a></li>
      </ul>
      <a href="http://localhost:8080/oauth2/login">
        <img class="nav navbar-right" alt="EVE SSO Login Buttons Large Black"
             src="https://images.contentful.com/idjq7aai9ylm/4fSjj56uD6CYwYyus4KmES/4f6385c91e6de56274d99496e6adebab/EVE_SSO_Login_Buttons_Large_Black.png?w=270&amp;h=45">
      </a>
    </div>
  </div>
</nav>
